@import '../../variables.scss';

.wrong {
  border: 1px solid $red-color !important;
}

.root {
  font-family: $second-font;
  line-height: 21px;
  font-weight: 400;
  font-size: 14px;
  background-color: $gray-color;
  padding: 14px 20px;
  width: 100%;
  outline: none;
  border-radius: $base-border-radius;
  border: 1px solid $gray-color;
  transition: border 0.2s;

  &:focus {
    border: 1px solid $blue-color;
  }

  &::placeholder {
    font-family: $second-font;
    line-height: 21px;
    font-weight: 400;
    font-size: 14px;
  }
}

// password input
.password_input {
  position: relative;
}

.visible_button {
  position: absolute;
  right: 20px;
  bottom: 0px;
  top: 0px;
  margin: auto;
  width: 27px;
  opacity: 0.5;

  transition: opacity 0.2s;
  &:hover {
    opacity: 1;
  }
}
