@import '../../variables.scss';

.content {
  display: flex;
  flex-direction: column;
  font-family: $second-font;
  flex-grow: 1;
  padding: 6px 16px;

  .inner_list {
    padding: 16px;
    display: flex;
    flex-direction: column;
    gap: 9px;

    &::-webkit-scrollbar-thumb {
      background-color: rgba($back-color, 0.65);
    }
  }
}
