@import '../../../variables.scss';

.root {
  grid-area: Score;
  background-color: $back-color;
  border-radius: $base-border-radius;
  border: 1px solid $border-color;
  box-shadow: $base-box-shadow;

  padding: 20px;
  display: flex;
  justify-content: center;
  align-items: center;

  .indicator {
    position: relative;

    svg {
      display: inline-flex;
      vertical-align: bottom;
      width: 110px;
      height: 110px;
    }
    circle {
      stroke: rgba($blue-color, 0.2);
      stroke-width: 8px;
      stroke-dasharray: 0;
      fill: none;
    }
    .fill_circle {
      stroke-width: 8px;
      // stroke-dashoffset: calc(282.783px - 220px);
      stroke: $blue-color;
      fill: none;
      transition: stroke-dashoffset 1s cubic-bezier(0.43, 0.41, 0.22, 0.91);
      transform-origin: center center;
      transform: rotate(-90deg) scaleX(-1) scaleY(-1);
    }

    .value {
      position: absolute;
      left: 50%;
      top: 50%;
      transform: translateX(-50%) translateY(-50%);
      display: flex;
      flex-wrap: wrap;
      align-items: flex-end;
      justify-content: center;

      .current {
        font-weight: 600;
        font-size: 27px;
        line-height: 25px;
      }
      .line {
        font-weight: 400;
        font-size: 13px;
        line-height: 18px;
        padding: 0 2px;
      }
      .total {
        font-weight: 400;
        font-size: 13px;
        line-height: 14px;
      }
    }
    .caption {
      font-weight: 400;
      font-size: 12px;
      line-height: 18px;
      white-space: nowrap;
    }
  }

  p {
    font-family: $base-font;
    font-weight: 500;
    font-size: 16px;
    line-height: 160%;
    margin-left: 23px;

    .blue {
      color: #0e81b4;
    }
    .green {
      color: #6fcf97;
    }
  }
}
