@import '../../../variables.scss';

.correct_answers {
  grid-area: Correct;
  border-radius: $base-border-radius;
  background-color: $green-color;
  box-shadow: $base-box-shadow;
  padding: 12px 16px;

  .number {
    font-weight: 600;
    font-size: 20px;
    line-height: 30px;
  }

  .description {
    font-weight: 500;
    font-size: 13px;
    line-height: 20px;
  }
}

.wrong_answers {
  grid-area: Wrong;
  border-radius: $base-border-radius;
  background-color: $red-color;
  box-shadow: $base-box-shadow;
  padding: 12px 16px;

  .number {
    font-weight: 600;
    font-size: 20px;
    line-height: 30px;
  }

  .description {
    font-weight: 500;
    font-size: 13px;
    line-height: 20px;
  }
}

.total_time {
  grid-area: Total;
  border-radius: $base-border-radius;
  background-color: $blue-color;
  box-shadow: $base-box-shadow;
  padding: 12px 16px;

  img {
    padding: 5px 0;
  }

  .number {
    font-weight: 600;
    font-size: 16px;
    line-height: 24px;
  }

  .description {
    font-weight: 500;
    font-size: 12px;
    line-height: 18px;
  }
}

.avg_time_answer {
  grid-area: Avg;
  border-radius: $base-border-radius;
  background-color: $orange-color;
  box-shadow: $base-box-shadow;
  padding: 12px 16px;

  img {
    padding: 5px 0;
  }

  .number {
    font-weight: 600;
    font-size: 16px;
    line-height: 24px;
  }

  .description {
    font-weight: 500;
    font-size: 12px;
    line-height: 18px;
  }
}
