@import '../variables.scss';

.content {
  display: flex;
  flex-direction: column;
  font-family: $second-font;
  margin-top: 22px;
  flex-grow: 1;
  padding: 0 16px;

  .inner_result {
    padding: 0 16px 16px 16px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-areas:
      'Info Info'
      'Score Score'
      'Correct Wrong'
      'Total Avg'
      'Check Check'
      'Again Again';
    gap: 19px;

    &::-webkit-scrollbar-thumb {
      background-color: rgba($back-color, 0.65);
    }
  }

  .check_answers {
    grid-area: Check;
  }

  .try_again {
    grid-area: Again;

    img {
      padding-right: 10px;
    }
  }
}
