@import '../index.scss';

.content {
  background-color: $back-color;
  border-radius: 40px;
  padding: 32px;
  font-family: $second-font;
  margin-top: 22px;
  flex-grow: 1;
  display: flex;
  flex-direction: column;
}

.detail_info {
  margin-top: 15px;

  .total_questions {
    margin-top: 10px;
    margin-bottom: 12px;
  }

  .total_time {
    margin-bottom: 12px;
  }

  p {
    opacity: 0.8;
  }

  p + p {
    margin-top: 10px;
  }
}

.start_block {
  border-radius: 40px;
  background-color: $gray-color;
  padding: 20px 32px;
  display: flex;
  align-items: center;
  justify-content: space-between;

  .limit_time {
    border-radius: 8px;
    border: 1px solid $white-color;
    font-size: 16px;
    font-weight: 500;
    padding: 12px;
    text-align: center;
    display: flex;
    margin-right: 32px;

    span {
      margin-left: 5px;
    }
  }
}
