@import '../../../variables.scss';

.root {
  font-family: $second-font;
  border-radius: 40px;
  background-color: $back-color;
  padding: 20px 32px;
  display: flex;
  align-items: center;
  justify-content: space-between;

  .chapter {
    font-weight: 500;
    font-size: 15px;

    .head {
      font-weight: 600;
    }
  }
}
