@import '../../../variables.scss';

.root {
  display: flex;
  flex-direction: column;
  width: 100%;
  max-width: 450px;

  .wrong_message {
    align-self: center;
    font-weight: 400;
    font-size: 14px;
    font-family: $base-font;
    color: $red-color;
  }

  label {
    display: flex;
    flex-direction: column;
    font-weight: 500;
    font-size: 17px;
    margin-bottom: 32px;

    span {
      margin-left: 20px;
      margin-bottom: 11px;
      font-size: 14px;
      font-weight: 400;
      font-family: $base-font;
      opacity: 0.8;
    }
  }
}
